<!--The content below is only a placeholder and can be replaced.-->
<div class="encabezado">
  <h1>¡Hola {{ destino }}!</h1>
  <app-fechaactual></app-fechaactual>
  
  </div>
  <div class="container">
 <app-viewmodelo></app-viewmodelo>
  <app-ejmetodo></app-ejmetodo>
  <app-ejpropertybinding></app-ejpropertybinding><br><br>
  <app-ejeventbinding></app-ejeventbinding>
  <app-ej2waybinding></app-ej2waybinding>
  <app-ejdirectivangif></app-ejdirectivangif> 
  <app-ejdirectivangstyle></app-ejdirectivangstyle>
  <app-ejdirectivang-class></app-ejdirectivang-class>
  <app-ejdirectivangfor></app-ejdirectivangfor>
  <h3>Ejemplo de directiva ngFor con objetos</h3>
<hr>
<app-arrayobjetos></app-arrayobjetos>
<br>
<h3>Ejemplo de directiva ngSwitch</h3>
<hr>
<app-ejdirectivangswitch></app-ejdirectivangswitch>
<app-ejmidirectiva></app-ejmidirectiva>
<h3>Ejemplo de @Input</h3>
<app-padre></app-padre>
</div>
  <footer class="card-footer" style="margin-top: 30px;">
    <app-copyright></app-copyright>
  </footer>

